- extends "VoileuxWebBundle::layout.html.haml"

- block head_scripts
    = parent()
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='71629151-2',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->


- block hero
    .hero
        %ul.slider.clearfix
            - for boat in boats
                %li
                    %img(src="#{(asset('bundles/voileuxweb/img/boats/') ~ boat.photos[0])|apply_filter('boat_index')}" width="100%")
                    .description
                        %a.avatar(href="#{path('boat', {slug: boat.slug})}")
                            %img(src="#{(boat.owner.avatar is defined and boat.owner.avatar is not null ? boat.owner.avatar|apply_filter('user_index') : boat.owner.email|gravatar(80))}" width="40")
                        .text
                            %h3
                                %a(href="#{path('boat', {slug: boat.slug})}")
                                    #{boat.name}
                            %p
                                #{boat.country} - #{boat.pricePerDay} #{boat.currency}

        #main-search(style="text-align: center" )
            .form-title
                %h2
                    Louer votre voilier
                %p
                    Trouvez des locataires compétents et sûrs
            #submit-success(style="display:none")
                %p
                    Votre demande vient d'etre prise en compte, nous vous contacterons dès que possible pour ajouter votre voilier à notre base de données
            %form.clearfix.subscribe-form#main-search-form(action="{{ path('subscribe') }}" method="post" style="margin: 2em auto; width:440px")

                .form-field.form-location
                    %label(for="email") Email
                    %input(type="email"  name="email" id="email" style="width: 263px;font-size: 1.5em;")

                .form-field.form-submit
                    %button.btn#search-now(type="submit" style="font-size: 1.55em;")
                        Inscription

