- extends "VoileuxWebBundle::layout.html.haml"

- block head_scripts
    = parent()
    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
    k='71629151-2',d=document,l=d.location,c=d.cookie;
    if(l.search.indexOf('utm_expid='+k)>0)return;
    function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
    indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
    length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
    '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
    '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
    '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
    valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
    '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->


- block hero
    .hero
        %ul.slider.clearfix
            - for boat in boats
                %li
                    %img(src="#{(asset('bundles/voileuxweb/img/boats/') ~ boat.photos[0])|apply_filter('boat_index')}" width="100%")
                    .description
                        %a.avatar(href="#{path('boat', {slug: boat.slug})}")
                            %img(src="#{(boat.owner.avatar is defined and boat.owner.avatar is not null ? boat.owner.avatar|apply_filter('user_index') : boat.owner.email|gravatar(80))}" width="40")
                        .text
                            %h3
                                %a(href="#{path('boat', {slug: boat.slug})}")
                                    #{boat.name}
                            %p
                                #{boat.country} - #{boat.pricePerDay} #{boat.currency}

        #main-search
            .form-title
                %h2
                    Trouvez un voilier à louer
                %p
                    Location de voiliers entre particuliers
            #submit-success(style="display:none")
                %p
                    Votre demande de réservation vient d'etre prise en compte, nous vous contacterons dès que possible avec les offres succeptibles de vous intéresser
            %form.clearfix.search-form#main-search-form(action="{{ path('search') }}" method="post" )
                #{ form_errors(form) }

                .form-field.form-location
                    #{ form_label(form.location, 'voileux.home.search.form.location.label'|trans|desc('Où Voulez vous aller'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.location) }

                .form-field.form-email
                    #{ form_label(form.email, 'voileux.home.search.form.email.label'|trans|desc('Email'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.email) }
                .form-field.form-date
                    #{ form_label(form.dateFrom, 'voileux.home.search.form.dateFrom.label'|trans|desc('Date d\'entrée'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.dateFrom, {'attr':{'class': 'datepicker'}}) }
                .form-field.form-date
                    #{ form_label(form.dateTo, 'voileux.home.search.form.dateTo.label'|trans|desc('Date de sortie'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.dateTo, {'attr':{'class': 'datepicker'}}) }
                .form-field.form-persons
                    #{ form_label(form.persons, 'voileux.home.search.form.persons.label'|trans|desc('Personnes')) }
                    #{ form_widget(form.persons) }
                    #{form_rest(form)}
                .form-field.form-submit
                    %button.btn#search-now(type="submit")
                        Chercher

