- extends "VoileuxWebBundle::layout.html.haml"

- block hero
    .hero
        %ul.slider.clearfix
            - for boat in boats
                %li
                    %img(src="#{(asset('bundles/voileuxweb/img/boats/') ~ boat.photos[0])|apply_filter('boat_index')}" width="100%")
                    .description
                        %a.avatar(href="#{path('boat', {slug: boat.slug})}")
                            %img(src="#{(boat.owner.avatar is defined and boat.owner.avatar is not null ? boat.owner.avatar|apply_filter('user_index') : boat.owner.email|gravatar(80))}" width="40")
                        .text
                            %h3
                                %a(href="#{path('boat', {slug: boat.slug})}")
                                    #{boat.name}
                            %p
                                #{boat.country} - #{boat.pricePerDay} #{boat.currency}

        #main-search
            .form-title
                %h2
                    Trouvez un voilier à louer
                %p
                    Location de voiliers entre particuliers
            #submit-success(style="display:none")
                %p
                    Votre demande de réservation vient d'etre prise en compte, nous vous contacterons dès que possible avec les offres succeptibles de vous intéresser
            %form.clearfix.search-form#main-search-form(action="{{ path('search') }}" method="post" )
                #{ form_errors(form) }

                .form-field.form-location
                    #{ form_label(form.location, 'voileux.home.search.form.location.label'|trans|desc('Où Voulez vous aller'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.location) }

                .form-field.form-email
                    #{ form_label(form.email, 'voileux.home.search.form.email.label'|trans|desc('Email'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.email) }
                .form-field.form-date
                    #{ form_label(form.dateFrom, 'voileux.home.search.form.dateFrom.label'|trans|desc('Date d\'entrée'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.dateFrom, {'attr':{'class': 'datepicker'}}) }
                .form-field.form-date
                    #{ form_label(form.dateTo, 'voileux.home.search.form.dateTo.label'|trans|desc('Date de sortie'), { 'label_attr': {'class': 'inline'} }) }
                    #{ form_widget(form.dateTo, {'attr':{'class': 'datepicker'}}) }
                .form-field.form-persons
                    #{ form_label(form.persons, 'voileux.home.search.form.persons.label'|trans|desc('Personnes')) }
                    #{ form_widget(form.persons) }
                    #{form_rest(form)}
                .form-field.form-submit
                    %button.btn#search-now(type="submit")
                        Chercher

